.MuiPaper-root {
  margin-top: 10px;
  background-color: #222125;
  color: #eaeaea;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));

  .MuiList-root {
    padding: 0px;

    .MuiMenuItem-root {
      padding: 16px 35px;
      font-size: 18px;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
