@import '../../global/styles/palette.scss';

.person-page {
  margin: 30px auto;
  color: $dark;
  overflow-x: hidden;

  .right-side {
    overflow: hidden;

    .person-page--title {
      font-size: 20px;
      font-weight: 700;
      color: $dark;
      margin-bottom: 20px;
    }
  }
}
